  *{
         font-family:"Playwrite NZ Guids",cursive;
        color: #ffffff;
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        align-items: center;
        text-decoration: none;

        list-style: none;
}
::placeholder{
    color: #ffffff;
}
label{
  background-color: rgba(255, 255, 255, 0.0001);
  margin-right: 59%;
}
.name{
  background-color: rgba(255, 255, 255, 0.0001);
    margin-right: 80%;

}
.sitename{
  background-color: rgba(255, 255, 255, 0.0001);
  margin-right: 71%;
}
.purpose{
  background-color: rgba(255, 255, 255, 0.0001);
  margin-right: 64%;
}
h1{
      background-color: rgba(255, 255, 255, 0.0001);
}
a{
   background-color: rgba(170, 13, 209,0.001);
}
.button{
    height: fit-content;
    align-items: center;
    margin-left:15%;
    color: #ffffff;
    padding: 5px;
    background-color: rgba(170, 13, 209,0.111);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255,0.3);
    font-size: 25px;
    width: fit-content;
}
button{
    height: fit-content;
    align-items: center;
    margin-left:3%;
    color: #ffffff;
    padding: 5px;
    background-color: rgba(170, 13, 209,0.111);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255,0.3);
    font-size: 25px;
    width: fit-content;
}
form{
    display: flex;
    padding: 50px;
    text-align: left;
    align-items: left;
    flex-direction: column;
    justify-content: space-evenly;
    height:fit-content;
    width: 45vh;
    border: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
}
textarea{
    color: black;
            border-color: rgba(255, 255, 255,0.3);
            background-color: rgba(255, 255, 255, 0.0001);
            border-radius: 12px;
            width:34vh;
            font-size: 25px;
            margin-bottom: 4vh;
             padding: 10px;
            height: 10vh;
}

    body{
        background-color: blueviolet;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    input{
            color: black;
            border-color: rgba(255, 255, 255,0.3);
            background-color: rgba(255, 255, 255, 0.0001);
            border-radius: 12px;
            width:34vh;
            padding: 5px;
            font-size: 25px;
            margin-bottom: 4vh;
            height: 5vh;
    }